@{
    ViewBag.Title = "About"; 
}

<h2>About this app.</h2>
<h3>@ViewBag.Message</h3> 

<p>FaveTunes allows you to create a playlist of your favourite songs. You can add your favourite tunes to a list, modify and view relevant details of the songs, and delete them when they start to sound annoying!</p> 
