@{
    ViewBag.Title = "Contact"; // to be referenced under <h2> tag below
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    50-6-10 Wisma UOA Damansare<br />
    Jalan Dungun, Bukit Damansara<br />
    50490 Kuala Lumpur<br />
    <abbr title="Handphone no.">Office:</abbr>
    011-1234 5678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>